<style>
  #githubButton,
  #igButton,
  #fbButton,
  #googleButton {
    width: 100%;
    height:
      30px;
  }

  #githubButton {
    background-color: #333;
    color: #fff;
  }

  #igButton {
    background: linear-gradient(45deg, #bc2a8d, #e95950);
    color: #fff;
  }

  #fbButton {
    background-color: #1877f2;
    color: #fff;
  }

  #googleButton {
    background-color:
      #4285F4;
    color: #fff;
  }
</style>
<br /><br />
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <p>Autenticar con plataformas externas</p>
          <button type="button" id="githubButton"><i class="fab fa-github"></i>
            Acceder con Github</button>
          <button type="button" id="igButton"><i class="fab fa-instagram"></i>
            Acceder con Instagram</button>
          <button type="button" id="fbButton"><i class="fab fa-facebook"></i>
            Acceder con Facebook</button>
          <button type="button" id="googleButton"><i class="fab fa-google"></i>
            Acceder con Google</button>
        </div>
        <div class="card-header">
          Registro Manual
        </div>
        <div class="card-body">
          <form action="" id="signupForm">
            <div class="form-group">
              <label for="first_name">Nombre</label>
              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Ingrese su nombre"
                required />
            </div>
            <div class="form-group">
              <label for="last_name">Apellido</label>
              <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Ingrese su nombre"
                required />
            </div>
            <div class="form-group">
              <label for="email">Correo electrónico</label>
              <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
                placeholder="Ingrese su correo electrónico" required />
              <small id="emailHelp" class="form-text text-muted">Nunca
                compartiremos su correo electrónico con nadie más.</small>
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña"
                required />
            </div>
            <div class="form-group">
              <label for="readonlyPassword">Confirmacion Contraseña (solo lectura)</label>
              <input type="text" class="form-control" id="readonlyPassword" readonly />
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/signup.js"></script>